html
head
script 
    |window.onload = function(){alter('abc')}
script. 
    window.onload = function(){
        alter('abc')
    }

//- 没有多余链接
script
    include a.js
body
    |abc
    |ddd
    |123
    div
        input
    aaa
    div 我的名字 ：#{name} #{a+b}
    div(style=json)
    div(class=arr class='active')

    -var c=12
    -var d=5
    div 结果是：#{c+d}
    
    span=a
    span #{a}

    //- fro 循环
    -for(var i=0;i<arr.length;i++)
        div=arr[i]
    //- 预防注入式工具，转义html
    div!=content

    //- if
    -var e = 12
    -if (a%2==0)
        div 偶数
    -else 
        div 奇数
    
    -var f=3
    //- switch
    case f
        when 0
            div 0
        when 1
            div 3
        default
            div 不靠谱
    //- 前面是代码，后面一直是代码，不用写-

    
